level: 2
# Noted

arti dari axis di pandas:

# Axis 0 > arah vertikal > artinya baris(row) > proses per kolom 

# Axis 1 > arah Horizontal > artinnya baris(column) > proses per baris

level 2:
bagian 3

handling missing data di pandas

1. mendeteksi nilai kosong (missing value)
df.isnull()     # cek mana yang null (true/False)
df.notnull()    # lawannya, mana yang tidak null

In [ ]:
import pandas as pd

data = {
    "nama": ["Ari", "Budi", "Cici", "Dina"],
    "umur": [25, None, 22, 30],
    "kota": ["Jakarta", "Bandung", None, "Surabaya"]
}

df = pd.DataFrame(data)
print(df.isnull())

# menghitung yang mengandung missing value
print(df.isnull().sum())

In [ ]:
# menghapus nilai kosong .dropna()
# tujuan: menghapus barus atau kolom yang mengandung Nan (kosong)

import pandas as pd

data = {
    "nama" : ["ari", "budi", "cici", "dina"],
    "umur" : [25, None, 22, 30],
    "kota" : ["jakarta", "bandung", None, "surabaya"]
}

df = pd.DataFrame(data)
df_baru = df.dropna() # hapus baris yang mengandung NaN

df_kolom = df.dropna(axis=1) # hapus kolom yang mengandung NaN
print(df_kolom)

In [ ]:
# fungsi .dropna() tidak mengubah DataFrame asli kecuali kamu tambahkan inplace=True

df.dropna(inplace=True)  # Hapus langsung di df

In [ ]:
# .fillna() > mengisi data yang hilang (missing values)
#mengganti nilai yang hilang (NaN/None) dengan nilai tertentu agar data bisa dianalisis tanpa error

import pandas as pd

data = {
    "nama": ["Ari", "Budi", "Cici", "Dina"],
    "umur": [25, None, 22, 30],
    "kota": ["Jakarta", "Bandung", None, "Surabaya"]
}

df = pd.DataFrame(data)
df = df.fillna("tidak diketahui")
print(df)

In [ ]:
# ganti NaN hanya pada kolom tertentu
import pandas as pd

data = {
    "nama": ["Ari", "Budi", "Cici", "Dina"],
    "umur": [25, None, 22, 30],
    "kota": ["Jakarta", "Bandung", None, "Surabaya"]
}

df = pd.DataFrame(data)
df["umur"] = df["umur"].fillna(df["umur"].mean())   # isi dengan rata-rata umur
df["kota"] = df["kota"].fillna("tidak diketahui")   # isi dengan string
print(df)

In [ ]:
# mengisi berdasarkan method (ffill / bfill)
# ffill : isi dengan nilai sebelumnya (forward fill)
# bfill : isi dengan nilai sesudahnya (backward fill)
import pandas as pd

data = {
    "nama": ["Ari", "Budi", "Cici", "Dina"],
    "umur": [25, None, 22, 30],
    "kota": ["Jakarta", "Bandung", None, "Surabaya"]
}

df = pd.DataFrame(data)
df = df.fillna(method="ffill")
print(df)